# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/
*.spec
backend/data/*.db
backend/*.log
backend/__pycache__/

# Node
node_modules/
npm-debug.log*

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# WorkBuddy
.workbuddy/
